footer {
    clear: both;
    margin-top: 1vw;
    text-align: center;
}
footer a {
    display: inline;
    margin-right: 0.5vw;
    padding: 0.1vw;
    font-size: 0.8vw;
    font-family: Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #000;
    padding-left: 0.2vw;
    margin-right: 0.3vw;
}
footer a:hover {
    color: #FFF;
    background-color: #000;
}
footer a:hover strong {
    color: #000;
    background-color: #DDD;
}  
