/* Strip the ul of padding and list styling */
ul {
    list-style-type: none;
    position: relative;
    text-align: center;
 }
li {
    display: inline-block;
}
li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
    border-radius: 8px;
}
/* hover state for top level links */

li:hover a {
    background: #19c589;
}
/* hide checkbox */
input[type=checkbox] {
    display: none;
}
/*Show menu when invisible checkbox is checked */
input[type="checkbox"]:checked ~ #menu {
    display: block;
}
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
    border-radius: 5px;
}
/* Responsive Styles */
@media screen and (max-width: 760px) {
/*Make dropdown links appear links */
   ul {
      position: relative;
      display: none;
    }
    /* Create vertical spacing */
    li {
      margin-bottom: 1px;
    }
    /* Make all menu links full width */
    ul li, li a {
      width: 100%;
    }
    .show-menu {
      display: block;
    }
    /*body {
    background: none;
    }*/

}
