@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(footer.css);
@import url(nav.css);
body {
    background-color: #FEF5DA;
    margin-left: 2vw;
    margin-right: 2vw;
}
header {
    margin: 1.5vw;
}
header div {
    display: table;
    width: 48vw;
    margin-left: auto;
    margin-right: auto;
}
header img {
    float: left;
    height: 9vw;
    padding-right: 1vw;
}
header h1 {
    margin: 0;
    margin-top: 0.2vw;
    font-family: Arial, sans-serif; 
    font-size: 3vw;
}
#chapter {
    margin: 0;
    margin-top: -0.2vw;
    font-family: Times New Roman, serif; 
    font-size: 2.1vw;
}
#tagline {
    margin: 0;
    margin-top: -0.2vw;
    color: #FF4C0E;
    font-family: 'Rock Salt', cursive;
    font-weight: 100;
    font-size: 1.5vw;
}
main {
    background-color: #FFF;
    padding: 1vw;
    border: 1px solid #000;
}
main h2 {
    font-family: Arial, sans-serif; 
    font-size: 2vw;
    margin-bottom: 0;
}
main p {
    font-family: Times New Roman, serif; 
    font-size: 1.3vw;
    margin-left: 1.4vw;
    margin-right: 1vw;
}
footer {
    clear: both;
    text-align: center;
}
