@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(nav.css);
@import url(footer.css);
body {
  background-color: #FEF5DA;
  margin-left: 2vw;
  margin-right: 2vw;
}
header {
  margin: 1.5vw;
}
header img {
  float: left;
  height: 15vw;
  padding-left: 18vw;
  padding-right: 1vw;
}
header h1 {
  margin: 0;
  margin-top: 0.2vw;
  font-family: Arial, sans-serif;
  font-size: 3vw;
  padding-top: 3vw;
}
#chapter {
  margin: 0;
  margin-top: -0.2vw;
  font-family: Times New Roman, serif;
  font-size: 2.1vw;
}
#tagline {
  margin: 0;
  margin-top: -0.2vw;
  margin-bottom: 4vw;
  color: #FF4C0E;
  font-family: 'Rock Salt', cursive;
  font-weight: 100;
  font-size: 2vw;
}
main {
  background: #FFF;
  padding: 1vw;
  border: 1px solid #000;
  border-radius: 25px;
  margin-top: 2vw;
}
main h2 {
  font-family: Arial sans-serif;
  padding-left: 10px;
}
main p {
  font-family: Times New Roman, serif;
  padding: 10px;
}
footer {
  clear: both;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
}

